configuration {
    modi: "window,run,drun";
    width: 75;
    lines: 18;
    columns: 3;
    theme: "/home/username/.cache/wal/colors-rofi-dark.rasi";
    font: "Ubuntu Mono 11";
    location: 0;
    show-icons: true;
    sort: true;
    disable-history: false;
    eh: 2;
    hide-scrollbar: true;
}

