configuration {
	modi: "window,run,ssh,drun";
	width: 50;
	lines: 4;
	columns: 2;
	font: "Ubuntu Mono 14";
	bw: 0;
	padding: 5;
	fixed-num-lines: true;
	show-icons: true;
	terminal: "terminator";
	icon-theme: "Paper";
	disable-history: true;
	cycle: true;
	separator-style: "none";
	hide-scrollbar: true;
	display-drun: " drun";
	display-run: " run";
	display-window: " window";
	display-ssh: " ssh";
}
