configuration {
    font: "Ubuntu Mono Nerd Font 13";    
    columns: 2;
    width: 75;
    show-icons: true;
    theme: "~/.cache/wal/colors-rofi-dark.rasi";
    terminal: "terminator";
    sidebar-mode: true;
    eh: 2;
    separator-style: "none";
    hide-scrollbar: true;
}
